a.gflag {
			vertical-align: middle;
			font-size: 24px;
			padding: 1px 0;
			background-repeat: no-repeat;
			background-image: url(//gtranslate.net/flags/24.png);
		}
		
		a.gflag img {
			border: 0;
		}
		
		a.gflag:hover {
			background-image: url(//gtranslate.net/flags/24a.png);
		}
		
		#goog-gt-tt {
			display: none !important;
		}
		
		.goog-te-banner-frame {
			display: none !important;
		}
		
		.goog-te-menu-value:hover {
			text-decoration: none !important;
		}
		
		body {
			top: 0 !important;
		}
		
		#google_translate_element2 {
			display: none!important;
		}
		
		.lingua {
			margin-right: 30px;
			border: 1px solid #1f6bff;
			width: 120px;
		}
		
		.desktop {
			display: block;
		}
		
		.mobile {
			display: none;
		}
		
		@media only screen and (max-width: 600px) {
			.lingua {
				margin-right: 0;
				border: 1px solid #1f6bff;
				width: 90px;
			}
			.desktop {
				display: none;
			}
			.mobile {
				display: block;
			}
		}